<!-- Modal -->
<div class="modal fade" id="check-order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Kiểm tra đơn hàng</h6>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="inforForm">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Seri</th>
              <th scope="col">Mệnh giá</th>
              <th scope="col">Giá bán</th>
              <th scope="col">Xóa</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="getOrder">
            <tr *ngFor="let value of getOrder; let index = index">
              <td scope="col">{{value.code}} {{value.seri}}</td>
              <td scope="col">{{value.displayValue}}</td>
              <td scope="col">
                {{ value.price }}
              </td>
              <td><i class="fa-solid fa-trash-can" (click)="delete(index)"></i></td>
            </tr>
          </ng-container>
            <tr>
              <th scope="row">Phí ship</th>
              <td>{{ship}}</td>
              <td>Tổng: {{getOrder.length == 0 ? 0 : totalOrder}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
          <div class="row col-12">
            <div class="col-6 form-group">
              <label for="recipient-name" class="col-form-label">Họ và Tên:</label>
              <input type="text" formControlName="name" class="form-control" >
            </div>
            <div class="col-6 form-group">
              <label for="recipient-name" class="col-form-label">SĐT:</label>
              <input type="text" formControlName="phone" class="form-control" >
            </div>
          </div>

          <div class="row col-12">
            <div class="col-6 form-group">
              <label for="recipient-name" class="col-form-label">Địa chỉ:</label>
              <input type="text" formControlName="address" class="form-control" >
            </div>
            <div class="col-6 form-group">
              <label for="recipient-name" class="col-form-label">Ghi chú:</label>
              <input type="text" formControlName="note" class="form-control" >
            </div>
          </div>
        <div class="row col-12 choose-method">
          <label class="col-form-label">Chọn hình thức thanh toán:</label>
          <div class="col-6 form-group">
            <input class="btn code form-control pay_method" formControlName="pay_method" [value]="1" readonly (click)="code()" placeholder="Trả khi nhận hàng - COD">
          </div>
          <div class="col-6 form-group">
            <input class="btn tranfer form-control pay_method" formControlName="pay_method" [value]="2" readonly (click)="tranfer()" placeholder="Chuyển khoản">
          </div>
        </div>
        <label class="col-form-label">Vui lòng chuẩn bị <b>{{totalOrder ? totalAndShip  : ship }}</b> {{method == 1 ? "để trả khi nhận hàng" : "theo thông tin sau"}} </label>
        <div class="row col-12" *ngIf="method == 2">
          <div class="col-6 form-group">
            <label for="recipient-name" class="col-form-label">Tên tài khoản:</label>
            <input type="text" class="form-control name-account" disabled placeholder="Nguyễn Thanh Bình" >
          </div>
          <div class="col-6 form-group" #container>
            <label for="recipient-name" class="col-form-label">Số tài khoản:<span *ngIf="message">{{message}}</span></label>
            <input type="text" class="form-control number-account" readonly placeholder="0000000000074" >
            <i class="fa-regular fa-paste" (click)="copyText('Copying')"></i>
          </div>
        </div>
        <div class="row col-12">
          <label for="recipient-name" class="col-form-label col-12" *ngIf="method == 2">Ngân hàng:</label>
          <div class="col-6 form-group" *ngIf="method == 2">
            <input type="text" class="form-control" placeholder="Mb bank" disabled >
          </div>
          <div class="{{method == 2 ? 'col-6 form-group' : 'col-12'}}  form-group">
            <button class="done form-group {{method == 2  ? ' done-tranfer' : ''}}" (click)="toOrder()">Đặt hàng</button>
          </div>
      </div>
      </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('.number-account').click(function (e) {
    e.preventDefault();
    var copyText = $(this).attr('placeholder');

    document.addEventListener('copy', function(e) {
      e.clipboardData.setData('text/plain', copyText);
      e.preventDefault();
    }, true);

    document.execCommand('copy');
  });
</script>
