<div class="main col-12">
  <div class="header">
    <div class="title">
      <h3 class="title-main">Tiền Sinh Nhật - Tiền Số Đôi Vợ Chồng</h3>
      <h3 class="discription">NHIỀU NHẤT VIỆT NAM</h3>
      <div class="contact">
        <span>
          <a href="{{faceBook}}" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-square-facebook"></i> Facebook
          </a>
          &nbsp; &nbsp;|&nbsp; &nbsp;
        </span>
        <span>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <i class="fa-solid fa-phone-flip"></i> {{phone}}
          </a>
          &nbsp; &nbsp; | &nbsp; &nbsp;
        </span>
        <span>
          <a href="http://" target="_blank" rel="noopener noreferrer">
            <img alt="" draggable="false" src="../assets/image/zalo.png" class="zalo"> {{zalo}}
          </a>
        </span>
      </div>
      <div class="address"><i class="fa-solid fa-map-location-dot"></i> {{address}}</div>
    </div>

  </div>

  <div class="content">
    <div class="process date">
      <i class="arrow"></i>
      <h6>Điền<br> ngày tháng</h6>
    </div>
    <div class="process search">
      <i class="arrow"></i>
      <h6>Ấn<br> tra cứu</h6>
    </div>
    <div class="process money">
      <i class="arrow"></i>
      <h6>Chọn<br> tờ tiền</h6>

    </div>
    <div class="process get">
      <h6 class="order"> Đặt hàng</h6>
    </div>
  </div>
  <div class="footer">
    <div class="footer-siri">Tìm seri<span class="find-siri"> ngày tháng năm sinh </span> </div>
    <form action="" [formGroup]="serachBase">
      <div class="search-base">
        <div class="day">
          <input type="text" placeholder="Ngày" formControlName="day">
        </div>
        <div class="month">
          <input type="text" placeholder="Tháng" formControlName="month">
        </div>
        <div class="year">
          <input type="text" placeholder="Năm" formControlName="year">
        </div>
        <div>
          <button class="submit" type="submit" (click)="handdleSearch()"><i
              class="fa-sharp fa-solid fa-magnifying-glass"></i>
            Tra Cứu</button>
        </div>
      </div>
    </form>

    <div class="couple-siri">Tìm seri năm sinh<span class="find-couple-siri"> cặp đôi</span> </div>
    <form action="" [formGroup]="serachCouple">
      <div class="search-couple">
        <div class="couple-year">
          <input placeholder="năm sinh chồng/vợ" autocapitalize="sentences" autocomplete="on" autocorrect="on"
            dir="auto" spellcheck="true" type="text" formControlName="year1">
        </div>
        <div class="couple-year">
          <input placeholder="năm sinh chồng/vợ" autocapitalize="sentences" autocomplete="on" autocorrect="on"
            dir="auto" spellcheck="true" type="text" formControlName="year2">
        </div>
        <div>
          <button class="submit" type="submit" (click)="handdleSearchCouple()"><i
              class="fa-sharp fa-solid fa-magnifying-glass"></i>
            Tra Cứu</button>
        </div>
      </div>
    </form>

  </div>
</div>

<div id="result" *ngIf='data.length > 0'>
  <div class="row out-side" *ngFor="let item of data">
    <div class="list-money" *ngIf="item.displayValue == 1000">
      <div class="in-side">
        <span class="code-1k">{{item.code}}</span>
        <span class="siri-1k">
          {{item.seri}}
        </span>
        <img src="../assets/image/1k.png" alt="">

      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{price1k}}</span></p>
        </div>
        <div class="btn-order col-4">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
              </svg></p>
            <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>
    <div class="list-money" *ngIf="item.displayValue == 10000">
      <div class="in-side">
        <span class="code-10k">{{item.code}}</span>
        <span class="siri-10k">
          {{item.seri}}
        </span>
        <img src="../assets/image/10K.jpg" alt="">
        <span class="code-10k-bt">{{item.code}}</span>
        <span class="siri-10k-bt">
          {{item.seri}}
        </span>
      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{checkCouple==false ? price10k : price10kCp}}</span></p>
        </div>
        <div class="btn-order col-4">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
            </svg></p>
          <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>
    <div class="list-money" *ngIf="item.displayValue == 2000">
      <div class="in-side">
        <span class="code-2k">{{item.code}}</span>
        <span class="siri-2k">
          {{item.seri}}
        </span>
        <img src="../assets/image/2k.png" alt="">

      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{price2k}}</span></p>
        </div>
        <div class="btn-order col-4">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
            </svg></p>
          <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>
    <div class="list-money" *ngIf="item.displayValue == 5000">
      <div class="in-side">
        <span class="code-5k">{{item.code}}</span>
        <span class="siri-5k">
          {{item.seri}}
        </span>
        <img src="../assets/image/5k.png" alt="">

      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{price5k}}</span></p>
        </div>
        <div class="btn-order col-4">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
            </svg></p>
          <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>

    <div class="list-money" *ngIf="item.displayValue == 20000">
      <div class="in-side">
        <span class="code-20k">{{item.code}}</span>
        <span class="siri-20k">
          {{item.seri}}
        </span>
        <img src="../assets/image/20k.jpg" alt="">
        <span class="code-20k-bt">{{item.code}}</span>
        <span class="siri-20k-bt">
          {{item.seri}}
        </span>
      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{price20k}}</span></p>
        </div>
        <div class="btn-order col-4">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
            </svg></p>
          <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>
    <div class="list-money" *ngIf="item.displayValue == 50000">
      <div class="in-side">
        <span class="code-50k">{{item.code}}</span>
        <span class="siri-50k">
          {{item.seri}}
        </span>
        <img src="../assets/image/50k.jpg" alt="">
        <span class="code-50k-bt">{{item.code}}</span>
        <span class="siri-50k-bt">
          {{item.seri}}
        </span>
      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{checkCouple==false ? price50k : price50kCp}}</span></p>
        </div>
        <div class="btn-order col-4">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
            </svg></p>
          <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>

    <div class="list-money" *ngIf="item.displayValue == 100000">
      <div class="in-side">
        <span class="code-100k">{{item.code}}</span>
        <span class="siri-100k">
          {{item.seri}}
        </span>
        <img src="../assets/image/100k.jpg" alt="">
        <span class="code-100k-bt">{{item.code}}</span>
        <span class="siri-100k-bt">
          {{item.seri}}
        </span>
      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{checkCouple==false ? price100k : price100kCp}}</span></p>
        </div>
        <div class="btn-order col-4">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
            </svg></p>
          <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>
    <div class="list-money" *ngIf="item.displayValue == 200000">
      <div class="in-side">
        <span class="code-200k">{{item.code}}</span>
        <span class="siri-200k">
          {{item.seri}}
        </span>
        <img src="../assets/image/200k.jpg" alt="">
        <span class="code-200k-bt">{{item.code}}</span>
        <span class="siri-200k-bt">
          {{item.seri}}
        </span>
      </div>
      <div class="result-content">
        <div class="col-8">
          <i class="fa-solid fa-money-bill"></i><span class="code-price">{{item.code}} {{item.seri}}</span>
          <p class="price">{{item.currency}}<span>{{checkCouple==false ? price200k : price200kCp}}</span></p>
        </div>
        <div class="btn-order col-4">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrows-angle-contract" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M.172 15.828a.5.5 0 0 0 .707 0l4.096-4.096V14.5a.5.5 0 1 0 1 0v-3.975a.5.5 0 0 0-.5-.5H1.5a.5.5 0 0 0 0 1h2.768L.172 15.121a.5.5 0 0 0 0 .707zM15.828.172a.5.5 0 0 0-.707 0l-4.096 4.096V1.5a.5.5 0 1 0-1 0v3.975a.5.5 0 0 0 .5.5H14.5a.5.5 0 0 0 0-1h-2.768L15.828.879a.5.5 0 0 0 0-.707z" />
            </svg></p>
          <app-button-choose (AddToCartEvent)="addToCart(item)"></app-button-choose>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="get-padding">

</div>
<div id="message-empty" style="bottom: 60px; text-align: center; {{message =='' ? 'display: none' : 'display: block'}}">
  <h5 style="text-align: center;">{{message}}</h5>
</div>
<div class="check-order" *ngIf="quantity">
  <div class="choose">
    <i class="fa-solid fa-cart-shopping"></i>&nbsp;
    <span>Đã chọn: <span>{{quantity || 0}}</span></span>&nbsp; &nbsp;
    <a class="show-order" (click)="open()">Kiểm tra đơn hàng</a>
  </div>
</div>
<app-modal [getOrder]="getOrder" [totalOrder]="totalOrder" (quantity)="onQuantityChanged($event)"></app-modal>
